@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src:
          url("../fonts/Lato-400.woff2") format("woff2"),
          url("../fonts/Lato-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Lato";

  font-display: swap;
  src:
          url("../fonts/Lato-600.woff2") format("woff2"),
          url("../fonts/Lato-600.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Lato";

  font-display: swap;
  src:
          url("../fonts/Lato-700.woff2") format("woff2"),
          url("../fonts/Lato-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Lato";

  font-display: swap;
  src:
          url("../fonts/Lato-800.woff2") format("woff2"),
          url("../fonts/Lato-800.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src:
          url("../fonts/Raleway-800.woff2") format("woff2"),
          url("../fonts/Raleway-800.woff") format("woff");
}
