$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-summer-sky:                  #43ABF0;
$color-summer-sky-2:                #3E9CDC;
$color-summer-sky-3:                #42A9ED;
$color-endeavour:                   #286690;
$color-jaguar:                      #272733;
$color-blue-zodiac:                 #3D4050;
$color-dolphin:                     #6F6D7B;
$color-silver:                      #BBBBBB;
$color-silver-2:                    #C3C3C3;
$color-black-russian:               #2A2B30;
$color-black-russian--90:           rgba(16, 16, 29, 0.9);
$color-jaguar--90:                  rgba(39, 39, 51, 0.90);


// Typography
// ---------------------------------

$fz-default:                        16px;

$ff-lato:                    "Lato", "Arial", sans-serif;
$ff-raleway:                  "Raleway", "Arial", sans-serif;


// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-duration:                    0.2s;
$trans-default:                     0.2s $tf-default;


// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-360:                            360px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
