.header {
  background: $color-black-russian--90;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    max-width: 1172px;
    margin: 0 auto;

    @include vp-1279 {
      padding: 0 40px;
      margin: 0 auto;
      min-height: 70px;
    }

    @include vp-767 {
      min-height: 50px;
      padding: 0 20px;
    }
  }

  &__img {
    display: flex;
    flex-shrink: 0;
    margin-right: 50px;

    img {
      width: 100%;
      height: 100%;
    }

    @include vp-1023 {
      width: 180px;
    }
  }

  &__button {
    display: none;

    @include vp-767 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 40px;
      height: 40px;
      border: none;
      background: transparent;
      color: $color-default-white;
      cursor: pointer;
      position: relative;
      transition: color $trans-default;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover {
          color: $color-summer-sky-3;
        }
      }

      &:focus {
        color: $color-summer-sky-3;
      }

      &:active {
        color: $color-summer-sky-3;
      }

    }
  }

  &__button svg {
    @include vp-767 {
      position: absolute;
      top: -2px;
      left: 0;
    }
  }

}
