.header {
  background: $color-black-russian--90;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;

    @include vp-1023 {
      min-height: 70px;
    }

    @include vp-767 {
      min-height: 50px;
    }
  }

  &__img {
    display: flex;
    flex-shrink: 0;
    margin-right: 50px;

    img {
      width: 100%;
      height: 100%;
    }

    @include vp-1023 {
      width: 180px;
    }
  }

  &__button {
    display: none;
  }
}
