.info {
  color: $color-default-black;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    min-height: 850px;
    padding-top: 56.25%;


    @include vp-1023 {
      min-height: 600px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      //height: auto;
    }
  }

  &__content {
    min-height: 750px;
    padding-top: 103px;
    width: 790px;

    @include vp-1023 {
      width: 100%;
      padding-top: 70px;
      min-height: 500px;
    }
  }


  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.18em;
    margin-bottom: 5rem;
    text-transform: uppercase;

    @include vp-1023 {
      width: 90%;
    }

    @include vp-767 {
      width: 100%;
    }

    span {
      font-family: $ff-raleway;
      font-weight: 800;
      line-height: 1.18em;
      color: $color-summer-sky-2;
    }
  }

  &__text {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5rem;
  }

  &__item {
    position: relative;
    padding-left: 25px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: 5px;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 1.5px;
      background: $color-default-black;
      top: 12px;
      left: 8px;
    }
  }

  &__block {
    display: flex;
    font-size: 13px;
    line-height: 1.2em;
    margin-bottom: 20px;

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 183px;
    padding: 15px;
    margin-right: 30px;
    border-radius: 4px;
    background: $color-default-white;
    border: 1px solid $color-dolphin;
    color: $color-black-russian;
    text-transform: uppercase;
    transition: background $trans-default, color $trans-default, border-color $trans-default;

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 200px;
    }

    &--order {
      background: $color-summer-sky-2;
      border: 1px solid $color-default-white;
      color: $color-default-white;
    }

    &:last-child {
      margin-right: 0;
    }


    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        background: $color-summer-sky;
        color: $color-default-white;
        border-color: $color-summer-sky;
      }
    }

    &:focus {
      background: $color-summer-sky;
      color: $color-default-white;
      border-color: $color-summer-sky;
    }

    &:active {
      background: $color-summer-sky;
      color: $color-default-white;
      border-color: $color-summer-sky;
    }
  }

}
